<div class="container-fluid form-page">
  <div class="row">
    <div class="col-md-8 form-side">


      <div class="row justify-content-center">
        <div class="col-md-5">

          <div class="form">

            <h2>Let's setup your account</h2>

            <p>Already have an account ? <span>Sign in</span></p>

            <mat-form-field appearance="outline" [ngClass]="{'border-red':nameInvalid}">
              <mat-label>Your name</mat-label>
              <input matInput [(ngModel)]="person.name" autocomplete="off">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>


            <br>

            <mat-form-field appearance="outline" [ngClass]="{'border-red':emailInvalid}">
              <mat-label>Email address</mat-label>
              <input matInput [(ngModel)]="person.email">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint [ngClass]="{'red-text':emailInvalid}" *ngIf="emailInvalid">please enter a valid email address</mat-hint>
            </mat-form-field>


            <br *ngIf="emailInvalid">
            <br>

            <mat-form-field appearance="outline" [ngClass]="{'border-red':optionInvalid}">
              <mat-label>I am a</mat-label>
              <mat-select [(ngModel)]="person.option">
                <mat-option value="option">Developer</mat-option>
                <mat-option value="option">DevOps Engineer</mat-option>
                <mat-option value="option">IT Consultant</mat-option>

              </mat-select>
            </mat-form-field>


            <br>

            <mat-form-field appearance="outline" [ngClass]="{'border-red':passwordInvalid}">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="person.password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint [ngClass]="{'red-text':passwordInvalid}">minimum 6 characters</mat-hint>
            </mat-form-field>


            <br>

            <button type="button" name="button" (click)="validateForm()" class="btn submit-btn"
              [ngClass]="{'disabled-btn':person.name.length === 0 || person.email.length === 0 || person.option.length === 0 || person.password.length === 0}">Submit</button>

            <p class="legal">By clicking 'Submit' you agree to creating a free account , and to <span>Terms & Conditions</span> and <span>Privacy Policy</span></p>

          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 wording-side">
      <img src="../assets/images/Lunch.svg" alt="">
      <h2>Cateres / Coders</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>


  <footer class="text-center">
    <p>2021 <span *ngIf="year !== 2021">- {{year}}</span> <br class="d-block d-sm-none d-md-none"> <span class="d-none d-sm-none d-md-inline">|</span> All right reserved</p>
  </footer>
</div>
